.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 32px;
}


.form input {
  height: 56px;
}

.title {
  text-align: right;
  font-family: Heebo;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.secondTitle{
  color: var(--text-third-color);
}

.clickHere {
  margin-right: 5px;
  text-decoration: underline;
  color: var(--bg-secondary-color);
}

.login{
  font-size: 14px;
  text-align: center;
  color: var(--text-third-color);
}

